[Unit]
Description=Timed resync
Documentation=man:asd(1) man:anything-sync-daemon(1)
Documentation=https://wiki.archlinux.org/title/Anything-sync-daemon
After=asd.service
PartOf=asd.service

[Service]
Type=oneshot
Slice=background.slice
# Environment="DEBUG=1"
ExecStart=/usr/bin/anything-sync-daemon resync
